<div class="grid mt-3">
  <div class="col-12 md:col-12">
    <div class="card surface-card">
      <p-table
        #dt
        [value]="(paymentsService.payments$ | async)!"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [scrollable]="true"
        [breakpoint]="'960px'"
        [tableStyle]="(paymentsService.payments$ | async)!.length == 0 ? null : { 'min-width': '120rem' }"
        [paginator]="(paymentsService.payments$ | async)!.length > 5 ? true : false"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Fecha</th>
            <th>Cajero</th>
            <th>Número transacción</th>
            <th>Valor</th>
            <th>Valor efectivo</th>
            <th>Valor Chq.</th>
            <th>Valor otros</th>
            <th>Referencia transacción</th>
            <th>Observación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payments>
          <tr>
            <td>{{ payments.horaProceso | date : "yyyy/MM/dd HH:mm" }}</td>
            <td>{{ payments.userID }}</td>
            <td>
              <div class="font-bold">
                {{ payments.numeroTransaccion }}
              </div>
            </td>
            <td>{{ payments.valor | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
            <td>{{ payments.valorEfectivo | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
            <td>{{ payments.valorCHQ | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
            <td>{{ payments.valorOtros | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
            <td>{{ payments.referenciaTransaccion }}</td>
            <td>{{ payments.observacion }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="14" class="font-normal py-4">No existen datos que mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
