<div class="grid mt-3" *ngIf="company == 'eta'">
  <div class="col-12 md:col-12">
    <div *ngIf="(homeService.jobError$ | async) ? false : true; else elseBlock">
      <p-skeleton width="sm:5rem 62rem" height="28rem" />
    </div>

    <ng-template #elseBlock>
      <div class="card surface-card">
        <div class="flex justify-content-center mb-4">
          <img src="../../../../assets/layout/images/{{ layoutService.config.colorScheme === 'light' ? 'eta' : 'eta-white' }}.png" height="25px" width="180px" alt="eta" />
        </div>
        <h5 class="font-bold mb-5">Error en los jobs</h5>

        <p-table
          #dt
          [value]="(homeService.jobError$ | async)!"
          [rows]="5"
          [scrollable]="true"
          [breakpoint]="'960px'"
          [paginator]="(homeService.jobError$ | async)!.length > 5 ? true : false"
          sortField="size"
          [sortOrder]="-1"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Tienda</th>
              <th>Fecha</th>
              <th pSortableColumn="cjs_nombre_job">Job <p-sortIcon field="cjs_nombre_job" /></th>
              <th>Estado</th>
              <th>Descripión</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-job>
            <tr>
              <td>{{ job.nombre }}</td>
              <td>{{ job.cjs_fecha_ejecucion | date : "yyyy/MM/dd HH:mm" }}</td>
              <td>{{ job.cjs_nombre_job }}</td>
              <td>
                <p-tag severity="danger"> {{ job.cjs_estado }} </p-tag>
              </td>
              <td>{{ job.cjs_descripcion }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" class="font-normal py-4">No existen datos que mostrar.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-template>
  </div>
</div>

<div class="grid mt-3" *ngIf="company == 'rm'">
  <div class="col-12 md:col-12">
    <div *ngIf="(homeService.jobErrorRm$ | async) ? false : true; else elseBlockRm">
      <p-skeleton width="sm:5rem 62rem" height="28rem" />
    </div>

    <ng-template #elseBlockRm>
      <div class="card surface-card">
        <div class="flex justify-content-center mb-4">
          <img src="../../../../assets/layout/images/rm.png" height="25px" width="50px" alt="rm" />
        </div>
        <h5 class="font-bold mb-5">Error en los jobs</h5>
        <p-table
          #dt
          [value]="(homeService.jobErrorRm$ | async)!"
          [rows]="5"
          [scrollable]="true"
          [breakpoint]="'960px'"
          [paginator]="(homeService.jobErrorRm$ | async)!.length > 5 ? true : false"
          sortField="size"
          [sortOrder]="-1"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Tienda</th>
              <th>Fecha</th>
              <th pSortableColumn="cjs_nombre_job">Job <p-sortIcon field="cjs_nombre_job" /></th>
              <th>Estado</th>
              <th>Descripión</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-job>
            <tr>
              <td>{{ job.nombre }}</td>
              <td>{{ job.cjs_fecha_ejecucion | date : "yyyy/MM/dd HH:mm" }}</td>
              <td>{{ job.cjs_nombre_job }}</td>
              <td>
                <p-tag severity="danger"> {{ job.cjs_estado }} </p-tag>
              </td>
              <td>{{ job.cjs_descripcion }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" class="font-normal py-4">No existen datos que mostrar.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-template>
  </div>
</div>
