<div class="grid mt-3">
  <div class="col-12 md:col-12">
    <div class="card surface-card">
      <h5 class="opacity-50">Matriz</h5>
      <p-table
        #dt
        [value]="materials"
        styleClass="p-datatable-sm p-datatable-gridlines"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [scrollable]="true"
        [breakpoint]="'960px'"
        rowGroupMode="rowspan"
        groupRowsBy="codigo"
        [groupRowsByOrder]="0"
        editMode="row"
        dataKey="codBarra"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pFrozenColumn>Código</th>
            <th>Descripción</th>
            <th style="width: 2%">Rest. desc.</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Marca</th>
            <th>Código Barra</th>
            <th style="width: 8%">Estado cod. barras</th>
            <th style="width: 2%">Principal</th>
            <th>Orden</th>
            <th style="width: 8%"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-material let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
          <tr>
            <td pFrozenColumn *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.codigo }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.descripcion }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.restringidoDesc == "N" ? "NO" : "SI" }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan" [class.materials-null]="material.precio == null">
              {{ material.precio == null ? "NULL" : (material.precio | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale) }}
            </td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.estado == "A" ? "ACTIVO" : "INACTIVO" }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan" [class.materials-null]="material.marca == null || material.marca == ''">
              {{ material.marca == "" || material.marca == null ? "NULL" : material.marca }}
            </td>
            <td [class.font-italic]="!material.codBarra">{{ material.codBarra ? material.codBarra : "NULL" }}</td>
            <td>{{ material.estadoCodBarra == "A" ? "ACTIVO" : "INACTIVO" }}</td>
            <td [class.font-italic]="!material.codBarra">{{ material.esPrincipal == "N" ? "NO" : "SI" }}</td>
            <td [class.font-italic]="!material.codBarra">{{ material.orden ? material.orden : "NULL" }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan" class="flex justify-content-center align-items-center">
              <button pButton pRipple icon="pi pi-pencil" (click)="editMaterial(material)" class="p-button-warning p-button-sm mr-1" pTooltip="Editar" tooltipPosition="bottom"></button>
              <button
                pButton
                pRipple
                icon="pi pi-sync"
                class="p-button-info p-button-sm mr-1"
                (click)="procedureMaterial(material)"
                [disabled]="material.spDisabled || material.marca == '' ? true : false || material.precio == null ? true : false"
                pTooltip="Comunicar"
                tooltipPosition="bottom"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-dollar"
                class="p-button-success p-button-sm"
                (click)="procedurePrice(material)"
                [disabled]="material.spPriceDisabled"
                pTooltip="Comunicar precio"
                tooltipPosition="bottom"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="13" class="font-normal py-4">No existen datos que mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<app-material-edit></app-material-edit>
