<p-sidebar [(visible)]="visible" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" styleClass="layout-config-sidebar w-20rem">
  <button pButton label="Cerrar sesión" icon="pi pi-sign-out" pos="right" class="block w-full mb-4 p-button-raised" (click)="confirmLogOff('top', true)"></button>
  <hr />
  <span class="font-normal text-2xl">Usuario</span>
  <div class="flex align-items-center">
    <p class="font-light">{{ userApp.Name | uppercase }}</p>
  </div>
  <hr />
  <span class="font-normal text-2xl">Perfil</span>
  <div class="flex align-items-center">
    <p class="font-light">{{ userApp.UserRol | uppercase }}</p>
  </div>
  <hr />
  <span class="font-normal text-2xl">Escala</span>
  <div class="flex align-items-center mt-2">
    <button icon="pi pi-minus" type="button" pButton (click)="decrementScale()" class="p-button-text p-button-rounded w-2rem h-2rem mr-2" [disabled]="scale === scales[0]"></button>
    <div class="flex gap-2 align-items-center">
      <i class="pi pi-circle-fill text-300" *ngFor="let s of scales" [ngClass]="{ 'text-primary-500': s === scale }"></i>
    </div>
    <button icon="pi pi-plus" type="button" pButton (click)="incrementScale()" class="p-button-text p-button-rounded w-2rem h-2rem ml-2" [disabled]="scale === scales[scales.length - 1]"></button>
  </div>
  <hr />
</p-sidebar>
<p-confirmDialog #cd key="positionDialog" [position]="position" [baseZIndex]="10000" [closable]="false" [style]="{ width: '400px' }">
  <ng-template pTemplate="footer">
    <div *ngIf="!confirm; else blockButton">
      <button class="p-button-danger p-button-sm" type="button" pButton icon="pi pi-check" label="Aceptar" (click)="cd.accept()"></button>
    </div>
    <ng-template #blockButton>
      <button class="p-button-sm mr-2" type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
      <button class="p-button-danger p-button-sm" type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    </ng-template>
  </ng-template>
</p-confirmDialog>
