<hr />
<div class="flex align-items-center justify-content-between">
  <h4 class="my-0 font-bold">Resultados materiales</h4>
</div>
<div class="grid mt-3">
  <div class="col-12 md:col-12">
    <div class="card surface-card">
      <p-table
        #dt
        [value]="(materialService.materials$ | async)!"
        styleClass="p-datatable-sm p-datatable-gridlines"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [scrollable]="true"
        [breakpoint]="'960px'"
        rowGroupMode="rowspan"
        groupRowsBy="codigo"
        [groupRowsByOrder]="0"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pFrozenColumn>Código</th>
            <th style="width: 15%">Descripción</th>
            <th>Rest. desc.</th>
            <th>Precio</th>
            <th>Lista precio</th>
            <th>Estado</th>
            <th>Marca</th>
            <th>Código Barra</th>
            <th style="width: 8%">Estado cod. barras</th>
            <th style="width: 2%">Principal</th>
            <th>Orden</th>
            <th style="width: 8%">Promoción</th>
            <th style="width: 8%">Información</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-material let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
          <tr>
            <td pFrozenColumn *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.codigo }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.descripcion }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.restringidoDesc == "N" ? "NO" : "SI" }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.precio | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.sucursal }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.estado == "A" ? "ACTIVO" : "INACTIVO" }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.marca }}</td>
            <td [class.font-italic]="!material.codBarra">{{ material.codBarra ? material.codBarra : "NULL" }}</td>
            <td>{{ material.estadoCodBarra == "A" ? "ACTIVO" : "INACTIVO" }}</td>
            <td [class.font-italic]="!material.codBarra">{{ material.esPrincipal ? (material.esPrincipal == "N" ? "NO" : "SI") : "NULL" }}</td>
            <td [class.font-italic]="!material.codBarra">{{ material.orden ? material.orden : "NULL" }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
              <button pButton pRipple icon="pi pi-tag" class="p-button-secondary p-button-sm" (click)="promotion(material)"></button>
            </td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
              <button pButton pRipple icon="pi pi-info-circle" class="p-button-info p-button-sm" (click)="information(material)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="13" class="font-normal py-4">No existen datos que mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
