<div class="grid mt-3">
  <div class="col-12 md:col-12">
    <div class="card surface-card shadow-2">
      <p-table
        #dt
        [value]="(materialService.materials$ | async)!"
        [scrollable]="true"
        [breakpoint]="'960px'"
        rowGroupMode="rowspan"
        groupRowsBy="codigo"
        [groupRowsByOrder]="0"
        [tableStyle]="{ 'min-width': '100rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th style="width: 2%">Rest. desc.</th>
            <th>Precio</th>
            <th>Lista precio</th>
            <th>Estado</th>
            <th>Marca</th>
            <th>Código de barras</th>
            <th style="width: 2%">Principal</th>
            <th>Orden</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-material let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
          <tr>
            <td class="select-all" *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.codigo }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.descripcion }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.restringidoDesc == "N" ? "NO" : "SI" }}</td>

            <td *ngIf="material.precio == null || material.precio == ''; else elseBlock"><p-tag severity="danger"> NULL </p-tag></td>
            <ng-template #elseBlock>
              <td>
                {{ material.precio | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}
              </td>
            </ng-template>

            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.sucursal }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ material.estado == "A" ? "ACTIVO" : "INACTIVO" }}</td>

            <td *ngIf="material.marca == null || material.marca == ''; else elseBlockMar"><p-tag severity="danger"> NULL </p-tag></td>
            <ng-template #elseBlockMar>
              <td>
                {{ material.marca }}
              </td>
            </ng-template>

            <td *ngIf="!material.codBarra; else elseBlockCodB">
              <p-tag severity="danger"> NULL </p-tag>
            </td>
            <ng-template #elseBlockCodB>
              <td>
                <div class="border-dotted border-1 select-all">
                  {{ material.codBarra }}
                </div>
              </td>
            </ng-template>

            <td *ngIf="!material.esPrincipal; else elseEsPrincipal">
              <p-tag severity="danger"> NULL </p-tag>
            </td>
            <ng-template #elseEsPrincipal>
              <td>
                <div class="border-dotted border-1">
                  {{ material.esPrincipal }}
                </div>
              </td>
            </ng-template>
            <td *ngIf="material.orden == '' || material.orden == null; else elseOrden">
              <p-tag severity="danger"> NULL </p-tag>
            </td>
            <ng-template #elseOrden>
              <td>
                <div class="border-dotted border-1 select-all">
                  {{ material.orden }}
                </div>
              </td>
            </ng-template>

            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
              <button pButton pRipple icon="pi pi-tag" class="p-button-secondary p-button-sm mr-1" (click)="promotion(material)" pTooltip="Promociones" tooltipPosition="bottom"></button>
              <button pButton pRipple icon="pi pi-info-circle" class="p-button-info p-button-sm" (click)="information(material)" pTooltip="Información" tooltipPosition="bottom"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="11" class="font-normal py-4">No existen datos que mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
