<p-toast position="top-center" key="tc" [baseZIndex]="5000"> </p-toast>
<div class="flex justify-content-center">
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="z-5 w-full lg:w-8 px-6 text-center" style="max-width: 400px">
      <h1 class="text-4xl font-light mt-4 text-primary-500">Iniciar sesión</h1>
      <p>Bienvenido, utilice sus credenciales para iniciar sesión en la aplicación <span class="font-bold">actualizar</span></p>
      <div class="mt-5 text-left">
        <form [formGroup]="loginForm">
          <label [class.text-red-500]="usernameControl.invalid && usernameControl.dirty" for="username" class="block mb-2">Usuario</label>
          <span class="p-input-icon-right block">
            <i class="pi pi-user"></i>
            <input
              [pKeyFilter]="regUserName"
              formControlName="username"
              id="username"
              type="text"
              class="p-inputtext p-component p-element w-full"
              autocomplete="off"
              pAutoFocus
              [autofocus]="true"
              id="myFocus"
            />
          </span>
          <div *ngIf="usernameControl.invalid && usernameControl.dirty">
            <small id="username-help" *ngIf="usernameControl.hasError('required')" class="text-red-500">Este campo es requerido.</small>
            <small id="username-length-help" *ngIf="usernameControl.hasError('minlength')" class="text-red-500">Usuario incorrecto.</small>
            <small id="username-length-help" *ngIf="usernameControl.hasError('maxlength')" class="text-red-500">Usuario incorrecto.</small>
          </div>
          <label [class.text-red-500]="passwordControl.invalid && passwordControl.dirty" for="password" class="block mb-2 mt-3">Constraseña</label>
          <span class="p-input-icon-right block">
            <i class="pi pi-lock"></i>
            <input formControlName="password" type="password" class="p-inputtext p-component p-element w-full" autocomplete="off" />
          </span>
          <div *ngIf="passwordControl.invalid && passwordControl.dirty">
            <small id="username-help" *ngIf="passwordControl.hasError('required')" class="text-red-500">Este campo es requerido.</small>
            <small id="username-length-help" *ngIf="passwordControl.hasError('minlength')" class="text-red-500">Contraseña incorrecta.</small>
            <small id="username-length-help" *ngIf="passwordControl.hasError('maxlength')" class="text-red-500">Contraseña incorrecta.</small>
          </div>
          <div class="flex align-items-center justify-content-between mt-5">
            <button
              (click)="signIn()"
              class="w-full"
              pButton
              pRipple
              label="Ingreso"
              [disabled]="(loginForm.statusChanges | async) !== 'VALID'"
              [loading]="(loginForm.statusChanges | async) === 'PENDING'"
            ></button>
          </div>
        </form>
      </div>
      <pre class="mt-2 mb-0 text-xs text-black-alpha-60 flex justify-content-start">Versión 4.0</pre>
      <pre class="mt-0 text-xs text-black-alpha-60 flex justify-content-start">Elaborado por DA</pre>
    </div>
  </div>
</div>
