<span *ngIf="msgs !== ''" class="w-full absolute flex justify-content-center h-3rem align-items-center z-5" style="background-color: #ffcdd2">
  <span class="mr-2 flex align-items-center" style="color: #580c19"> <i style="color: #580c19; font-size: 1.3rem" class="pi pi-times-circle mr-1"></i></span>
  <span style="color: #851427"> {{ msgs }}</span>
</span>
<div class="flex justify-content-center">
  <div class="w-full h-full lg:w-5 h-screen text-center flex justify-content-center align-items-start">
    <div class="z-5 w-full lg:w-8 px-6 text-center mt-8" style="max-width: 400px">
      <h1 class="text-4xl font-light mt-4 text-primary-500">Iniciar sesión</h1>
      <p>Bienvenido, utilice el formulario para iniciar sesión en la aplicación <span class="font-bold">actualizar</span></p>
      <div class="mt-5 text-left">
        <form [formGroup]="loginForm">
          <label for="username" class="block mb-2">Usuario</label>
          <span class="p-input-icon-right block">
            <i class="pi pi-user"></i>
            <input
              (keydown)="msgs = ''"
              [pKeyFilter]="regUserName"
              formControlName="username"
              id="username"
              type="text"
              class="p-inputtext p-component p-element w-full"
              autocomplete="off"
              pAutoFocus
              [autofocus]="true"
              id="myFocus"
            />
          </span>
          <div *ngIf="usernameControl.invalid && usernameControl.dirty">
            <small id="username-help" *ngIf="usernameControl.hasError('required')" class="text-red-500">Este campo es requerido.</small>
            <small id="username-length-help" *ngIf="usernameControl.hasError('minlength')" class="text-red-500">Usuario incorrecto.</small>
            <small id="username-length-help" *ngIf="usernameControl.hasError('maxlength')" class="text-red-500">Usuario incorrecto.</small>
          </div>
          <label for="password" class="block mb-2 mt-3">Constraseña</label>
          <span class="p-input-icon-right block">
            <i class="pi pi-lock"></i>
            <input (keydown)="msgs = ''" formControlName="password" type="password" class="p-inputtext p-component p-element w-full" autocomplete="off" />
          </span>
          <div *ngIf="passwordControl.invalid && passwordControl.dirty">
            <small id="username-help" *ngIf="passwordControl.hasError('required')" class="text-red-500">Este campo es requerido.</small>
            <small id="username-length-help" *ngIf="passwordControl.hasError('minlength')" class="text-red-500">Contraseña incorrecta.</small>
            <small id="username-length-help" *ngIf="passwordControl.hasError('maxlength')" class="text-red-500">Contraseña incorrecta.</small>
          </div>
          <div class="flex align-items-center justify-content-between mt-5">
            <button
              (click)="signIn()"
              class="w-full"
              pButton
              pRipple
              label="Ingreso"
              [disabled]="(loginForm.statusChanges | async) !== 'VALID'"
              [loading]="(loginForm.statusChanges | async) === 'PENDING'"
            ></button>
          </div>
        </form>
      </div>
      <pre class="mb-0 text-xs text-black-alpha-30">Elaborado por DA</pre>
      <pre class="text-xs mt-0 text-black-alpha-30">Versión 4.0</pre>
    </div>
  </div>
</div>
