<h5 class="mt-2">Forma de pago</h5>
<p-table [value]="(invoiceService.invoiceDetails$ | async)!.invoiceMethodPayment!" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Forma pago</th>
      <th>Descripción</th>
      <th>Valor + iva</th>
      <th>Observación</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-invoice>
    <tr>
      <td>{{ invoice.forma_Pago }}</td>
      <td>
        <div class="font-bold">
          {{ invoice.descripcion }}
        </div>
      </td>
      <td>{{ invoice.valor | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
      <td>{{ invoice.forma_Pago == "10" ? "Serie nota crédito: " + invoice.nombreTransporte : "Sin observaciones" }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" class="font-normal">No existen datos que mostrar.</td>
    </tr>
  </ng-template>
</p-table>
<h5 class="mt-4">Detalle</h5>
<p-table [value]="(invoiceService.invoiceDetails$ | async)!.invoicesDet!" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Material</th>
      <th>Descripción</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Descuento</th>
      <th>Precio Total</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-invoice>
    <tr>
      <td>{{ invoice.codigo_Producto }}</td>
      <td><p-tag severity="danger" *ngIf="invoice.descripcion == null || invoice.descripcion == ''; else elseblock"> NULL </p-tag></td>
      <ng-template #elseblock>
        <td>{{ invoice.descripcion }}</td>
      </ng-template>
      <td>{{ invoice.cantidad | number }}</td>
      <td>{{ invoice.precio | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
      <td>{{ invoice.descuento | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
      <td>{{ invoice.precio_Total | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6" class="font-normal">No existen datos que mostrar.</td>
    </tr>
  </ng-template>
</p-table>
