<hr />
<div class="flex align-items-center justify-content-between mt-5">
  <h4 class="my-0 font-bold">Resultados promociones</h4>
</div>
<div class="grid mt-3">
  <div class="col-12 md:col-12">
    <div class="card surface-card">
      <p-table
        #dt
        [value]="promotions"
        styleClass="p-datatable-sm p-datatable-gridlines"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [scrollable]="true"
        [breakpoint]="'960px'"
        [paginator]="true"
        rowGroupMode="rowspan"
        groupRowsBy="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pFrozenColumn>Id</th>
            <th>Oficina</th>
            <th>Fecha</th>
            <th>Serie factura</th>
            <th>Cantidad</th>
            <th>Código</th>
            <th>Descuento</th>
            <th>Id promoción</th>
            <th>Descripción</th>
            <th style="width: 8px">Procentaje Desc</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-promotion let-rowgroup="rowgroup" let-rowspan="rowspan">
          <tr>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ promotion.id }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ promotion.oficina }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{ promotion.fecha | date : "yyyy/MM/dd HH:mm" }}</td>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan"><span class="p-column-title font-bold">Serie factura</span>{{ promotion.transactionID }}</td>
            <td><span class="p-column-title font-bold">Cantidad</span>{{ promotion.quantity }}</td>
            <td><span class="p-column-title font-bold">Código</span>{{ promotion.itemID }}</td>
            <td [class.promotion-null]="promotion.promotionDescription == null">
              <span class="p-column-title font-bold">Descuento</span>{{ promotion.promotionDescription != null ? (promotion.amount | currency) : "Sin promoción" }}
            </td>
            <td [class.promotion-null]="promotion.promotionDescription == null">
              <span class="p-column-title font-bold">Id promoción</span>{{ promotion.promotionDescription != null ? promotion.externalPromotionID : "Sin promoción" }}
            </td>
            <td [class.promotion-null]="promotion.promotionDescription == null">
              <span class="p-column-title font-bold">Descripción</span>{{ promotion.promotionDescription != null ? promotion.promotionDescription : "Sin promoción" }}
            </td>
            <td><span class="p-column-title font-bold">Procentaje</span>{{ promotion.percent }}%</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10" class="font-normal py-4">No existen datos que mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<app-material-edit></app-material-edit>
