<div class="card p-fluid mt-4">
  <div class="flex align-items-center justify-content-between mb-3">
    <div class="flex justify-content-start align-items-center">
      <h5 class="m-0">Selección tienda</h5>
    </div>
    <div class="flex justify-content-end scalein animation-duration-500" *ngIf="(officesHttpService.offices$ | async)!.ipRed">
      <p-divider layout="vertical"></p-divider>
      <div class="overflow-hidden flex align-items-center justify-content-center mr-5">
        <a class="label-badge-success flex align-items-center text-lg"><i class="pi pi-database mr-2" style="font-size: 1rem"></i>IP : {{ (officesHttpService.offices$ | async)!.ipRed }}</a>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="overflow-hidden flex align-items-center justify-content-center mr-5">
        <a class="label-badge-success flex align-items-center text-lg"><i class="pi pi-building mr-2" style="font-size: 1rem"></i>OFICINA : {{ (officesHttpService.offices$ | async)!.office }}</a>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="overflow-hidden flex align-items-center justify-content-center mr-5">
        <a class="label-badge-success flex align-items-center text-lg"
          ><i class="pi pi-table mr-2" style="font-size: 1rem"></i>SAP : {{ (officesHttpService.offices$ | async)!.companyInternalCode }}</a
        >
      </div>
    </div>
  </div>
  <div class="p-formgrid grid">
    <div class="field col">
      <p-dropdown
        [options]="company"
        [(ngModel)]="selectedCompany"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Selecciona la empresa"
        (onChange)="changeCompany()"
      >
      </p-dropdown>
    </div>
    <div class="field col">
      <p-dropdown
        [options]="offices"
        [(ngModel)]="selectedOffice"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Selecciona la oficina"
        (onChange)="clearOffice()"
        (onClick)="changeOffice()"
      >
      </p-dropdown>
    </div>
  </div>
</div>
