<div class="flex align-items-center justify-content-between mb-3">
  <div class="flex justify-content-start align-items-center">
    <h4 class="m-0">Selección tienda</h4>
  </div>

  <div (click)="toggle()" class="flex justify-content-end scalein animation-duration-500 cursor-pointer" *ngIf="officesHttpService.offices$ | async">
    <div>
      <a class="label-badge-success flex align-items-center text-sm font-semibold"><i class="pi pi-database mr-2" style="font-size: 1rem"></i>Conectado</a>
    </div>
    <p-overlay [(visible)]="overlayVisible" contentStyleClass="surface-overlay border-round">
      <div class="mb-2 mt-2">
        <a class="label-badge-success flex align-items-center text-sm font-semibold"
          ><i class="pi pi-database mr-2" style="font-size: 1rem"></i>IP : {{ (officesHttpService.offices$ | async)!.ip_Red }}</a
        >
      </div>
      <div class="mb-2">
        <a class="label-badge-success flex align-items-center text-sm font-semibold"
          ><i class="pi pi-building mr-2" style="font-size: 1rem"></i>OFICINA POS : {{ (officesHttpService.offices$ | async)!.oficina }}</a
        >
      </div>
      <div>
        <a class="label-badge-success flex align-items-center text-sm font-semibold"
          ><i class="pi pi-table mr-2" style="font-size: 1rem"></i>SAP : {{ (officesHttpService.offices$ | async)!.ofi_Codigo_Interno_Empresa }}</a
        >
      </div>
    </p-overlay>
  </div>
</div>
<hr />
<form [formGroup]="officesForm">
  <div class="field">
    <label htmlFor="companyInput" [class.text-red-500]="companyControl.touched && companyControl.hasError('required')">Empresa</label>
    <p-dropdown
      [options]="company"
      [class.ng-dirty]="companyControl.touched"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Selecciona la empresa"
      (onChange)="changeCompany()"
      formControlName="companyInput"
    >
    </p-dropdown>
    <div *ngIf="companyControl.touched">
      <span class="text-red-500 text-sm" *ngIf="companyControl.hasError('required')">Este campo es requerido.</span>
    </div>
  </div>

  <div class="field">
    <label htmlFor="officeInput" [class.text-red-500]="officeControl.touched && officeControl.hasError('required')">Tienda</label>
    <p-dropdown
      [options]="offices"
      [class.ng-dirty]="officeControl.touched"
      optionLabel="nombre"
      [filter]="true"
      filterBy="nombre"
      [showClear]="true"
      placeholder="Selecciona la oficina"
      formControlName="officeInput"
      (onChange)="changeOffice()"
    >
    </p-dropdown>
    <div *ngIf="officeControl.touched">
      <span class="text-red-500 text-sm" *ngIf="officeControl.hasError('required')">Este campo es requerido.</span>
    </div>
  </div>
</form>
