.label-badge-success {
  background: #c8e6c9;
  color: #256029;
  padding: 4px;
  border-radius: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  min-width: 130px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media (min-width: 992px) {
  .connect {
    visibility: hidden;
  }
}
