:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 2rem;
  height: 2rem;
  color: white;
  border: 0 none;
  background: var(--red-600);
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin-right: 0.5rem;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: white;
  border-color: transparent;
  background: var(--red-200);
}

// :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   text-align: center;
// }

// :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
//   text-align: center;
// }

:host ::ng-deep .p-button {
  border-radius: 6px;
}

:host ::ng-deep .p-inputtext.ng-dirty.ng-invalid {
  outline: 1px;
}

:host ::ng-deep .p-datatable-scrollable .p-frozen-column {
  background: var(--surface-card);
}

:host ::ng-deep .p-datatable .p-datatable-header {
  border: 0px solid #e2e8f0;
}

:host ::ng-deep .layout-sidebar {
  padding: 1.5rem 1.5rem;
}
:host ::ng-deep .p-inputtext:disabled {
  color: unset;
}
:host ::ng-deep .p-tag {
  font-size: 12px;
}
:host ::ng-deep .p-fluid .p-calendar .p-inputtext {
  cursor: pointer;
}

:host ::ng-deep .p-component {
  font-family: "Inter var", sans-serif;
}
