<div class="mx-3">
  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Mid</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.mid }}" />
  </div>

  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Tid</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.tid }}" />
  </div>

  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Número caja</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.caja }}" />
  </div>
  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Ip caja</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.ipCliente }}" />
  </div>
  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Ip pinpad</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.pca_Ip_Pinpad }}" />
  </div>
  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Tipo tx</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.tipo_Tx }}" />
  </div>
  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Tipo crédito</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.tipo_Credito }}" />
  </div>
  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Plazo</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.plazo }}" />
  </div>
  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Grupo tarjeta</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.grupo_Tarjeta }}" />
  </div>
  <div class="p-inputgroup my-2">
    <span class="p-inputgroup-addon w-3 flex justify-content-start">Red adquiriente</span>
    <input disabled class="opacity-100" pInputText value="{{ (plotsVoucherService.infoVoucher$ | async)!.red_Adquiriente }}" />
  </div>
</div>
