<p-toast position="top-center" key="tc" [baseZIndex]="5000"> </p-toast>
<p-toast position="top-center" key="cf" [baseZIndex]="5000" [style]="{ width: '400px' }">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <p class="text-base my-1">{{ message.summary }}</p>
        <p class="font-bold text-base mb-2">{{ message.detail }}</p>
      </div>
      <div class="flex justify-content-center">
        <div class="mr-2">
          <button (click)="onConfirm()" type="button" pButton label="Si" class="p-button-success"></button>
        </div>
        <div cclass="">
          <button (click)="onReject()" type="button" pButton label="No" class="p-button-danger"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
<div class="layout-wrapper" [ngClass]="containerClass">
  <app-load-panel></app-load-panel>
  <div class="layout-sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="layout-main-container">
    <app-topbar class="mb-2"></app-topbar>
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  <app-config></app-config>
  <div class="layout-mask">HOLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>
</div>
