<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-left" key="bl"></p-toast>
<p-toast position="bottom-right" key="br"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<div class="layout-wrapper" [ngClass]="containerClass">
  <app-load-panel></app-load-panel>
  <div class="layout-sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="layout-main-container">
    <app-topbar class="mb-2"></app-topbar>
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  <app-config></app-config>
  <div class="layout-mask"></div>
</div>
