<p-toast position="top-center" key="tc" [baseZIndex]="10001"> </p-toast>
<p-toast position="top-center" key="cf" [baseZIndex]="10001" [style]="{ width: '400px' }">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <p class="text-base my-1">{{ message.summary }}</p>
        <p class="font-bold text-base mb-2">{{ message.detail }}</p>
      </div>
      <div class="flex justify-content-center">
        <div class="mr-2">
          <button (click)="onConfirm()" type="button" pButton label="Si" class="p-button-success"></button>
        </div>
        <div cclass="">
          <button (click)="onReject()" type="button" pButton label="No" class="p-button-danger"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
<div class="layout-wrapper" [ngClass]="containerClass">
  <app-load-panel></app-load-panel>
  <div class="layout-sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="layout-main-container">
    <app-topbar class="mb-2"></app-topbar>
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  <app-config></app-config>
  <div class="layout-mask"></div>
</div>

<p-dialog [(visible)]="sesionCaducada" [modal]="true" [draggable]="false" [resizable]="false" [closable]="false" [style]="{ width: '380px' }" class="custom">
  <ng-template pTemplate="header">
    <div class="loader"></div>
    <h4 class="m-0">Información de sesión</h4>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="flex align-items-center">
      <span class="mr-2 flex justify-content-center">Su sesión caducará en</span>
      <a class="font-bold mr-1">{{ tiempoCaducidad }}</a>
      <a class="font-bold" *ngIf="(tiempoCaducidad === 3 || tiempoCaducidad === 2) && !seconds">minutos</a>
      <a class="font-bold" *ngIf="seconds">{{ tiempoCaducidad == 1 ? "segundo" : "segundos" }}</a>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton label="Continuar trabajando" class="p-button-raised p-button-info" (click)="continueWorking()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="sesionCaduco" [modal]="true" [draggable]="false" [resizable]="false" [closable]="false" [style]="{ width: '380px' }" class="custom">
  <ng-template pTemplate="header">
    <i class="pi pi-clock font-bold" style="font-size: 1.6rem; color: var(--surface-900)"></i>
    <h4 class="m-0">Información de sesión</h4>
  </ng-template>
  <ng-template pTemplate="content">
    <span>Su sesión ha caducado</span>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton label="Iniciar sesión" class="p-button-raised p-button-sm p-button-info" (click)="login()"></button>
  </ng-template>
</p-dialog>
