<div class="layout-topbar">
  <div class="mr-4">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
  </div>
  <div class="layout-topbar-logo">
    <div class="text-600">{{ model[(menuService.indexMenu$ | async)!].label }} / {{ model[(menuService.indexMenu$ | async)!].items[(menuService.indexMenuItem$ | async)!].label }}</div>
  </div>
  <div
    #topbarmenu
    *ngIf="officesHttpService.offices$ | async"
    class="layout-topbar-menu scalein animation-duration-500"
    [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }"
  >
    <div class="flex align-items-center w-30rem">
      <a class="label-badge-success text-base font-semibold mr-2"> <i class="pi pi-database mr-2" style="font-size: 1rem"></i>IP : {{ (officesHttpService.offices$ | async)!.ip_Red }} </a>
      <a class="label-badge-success text-base font-semibold mr-2"> <i class="pi pi-building mr-2" style="font-size: 1rem"></i>OFICINA : {{ (officesHttpService.offices$ | async)!.oficina }} </a>
      <a class="label-badge-success text-base font-semibold"> <i class="pi pi-table mr-2" style="font-size: 1rem"></i>SAP : {{ (officesHttpService.offices$ | async)!.ofi_Codigo_Interno_Empresa }} </a>
    </div>
  </div>
  <div #topbarmenu class="layout-topbar-menu">
    <div>
      <button class="p-link ml-4" (click)="onConfigButtonClick()">
        <i class="pi pi-cog opacity-50" style="font-size: 1.7rem"></i>
        <p class="flex justify-content-end"><span class="w3-badge w3-red w3-tiny"></span></p>
      </button>
    </div>
  </div>
</div>
