<div class="layout-topbar">
  <div class="mr-4">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
  </div>
  <div class="layout-topbar-logo w-full">
    <div class="text-600">{{ model[(menuService.indexMenu$ | async)!].label }} / {{ model[(menuService.indexMenu$ | async)!].items[(menuService.indexMenuItem$ | async)!].label }}</div>
  </div>
  <div
    #topbarmenu
    *ngIf="officesHttpService.offices$ | async"
    class="layout-topbar-menu scalein animation-duration-500 lg:block md:block hidden w-max"
    [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }"
  >
    <div class="flex align-items-center connect w-max">
      <a class="label-badge-success text-sm mr-2 flex justify-content-center align-items-center">
        <i class="pi pi-database text-sm mr-2 align-items-center"></i><a class="font-bold mr-2" style="color: var(--primary-700)">IP: </a>{{ (officesHttpService.offices$ | async)!.ip_Red }}
      </a>
      <a class="label-badge-success text-sm mr-2 flex justify-content-center align-items-center">
        <i class="pi pi-building mr-2"></i><a class="font-bold mr-2" style="color: var(--primary-700)">OFICINA POS: </a>
        {{ (officesHttpService.offices$ | async)!.oficina }}
      </a>
      <a class="label-badge-success text-sm flex justify-content-center align-items-center">
        <i class="pi pi-table mr-2"></i><a class="font-bold mr-2" style="color: var(--primary-700)">CÓDIGO SAP: </a>
        {{ (officesHttpService.offices$ | async)!.ofi_Codigo_Interno_Empresa }}
      </a>
    </div>
  </div>
  <p-divider layout="vertical" *ngIf="officesHttpService.offices$ | async" class="connect"></p-divider>
  <div #topbarmenu class="layout-topbar-menu">
    <li>
      <button
        (click)="changeTheme()"
        type="button"
        class="flex flex-shrink-0 px-link border-1 border-solid w-2rem h-2rem surface-border border-round align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary mr-2 cursor-pointer surface-ground"
      >
        <i class="pi pi-moon opacity-50" style="font-size: 1.3rem" *ngIf="moon"></i>
        <i class="pi pi-sun opacity-50 font-bold" style="font-size: 1.3rem" *ngIf="sun"></i>
      </button>
    </li>
    <li>
      <button
        (click)="onConfigButtonClick()"
        type="button"
        class="flex flex-shrink-0 px-link border-1 border-solid w-2rem h-2rem surface-border border-round align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary cursor-pointer surface-ground"
      >
        <i class="pi pi-cog opacity-50" style="font-size: 1.3rem"></i>
      </button>
    </li>
  </div>
</div>
