<div class="grid mt-3">
  <div class="col-12 md:col-12">
    <div class="card surface-card">
      <p-table
        #dt
        [value]="(invoiceService.invoicesStore$ | async)!"
        styleClass="p-datatable-sm"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [scrollable]="true"
        [breakpoint]="'960px'"
        [tableStyle]="{ 'min-width': '120rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Serie factura</th>
            <th>Oficina</th>
            <th>Tienda</th>
            <th style="width: 2%">Tipo Doc.</th>
            <th style="width: 2%">Tipo cliente</th>
            <th>Número cliente</th>
            <th>Fecha factura</th>
            <th>Subtotal</th>
            <th>Iva</th>
            <th>Valor iva</th>
            <th>Descuento</th>
            <th>Total factura</th>
            <th>Usuario cajero</th>
            <th>Núm. caja</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
          <tr>
            <td class="select-all">{{ invoice.serie_Factura }}</td>
            <td>{{ invoice.oficina }}</td>
            <td>{{ invoice.nombre }}</td>
            <td>{{ invoice.tipo_Documento }}</td>
            <td>{{ invoice.tipo_Idcliente }}</td>
            <td pTooltip="{{ invoice.nombre_Razon }}" tooltipPosition="bottom" class="cursor-pointer">
              {{ invoice.numero_Idcliente }}
            </td>
            <td>{{ invoice.fecha_Factura | date : "yyyy/MM/dd HH:mm" }}</td>
            <td>{{ invoice.subtotal | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
            <td>{{ invoice.iva | number }}%</td>
            <td>{{ invoice.valoriva | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
            <td>{{ invoice.descuento | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
            <td>{{ invoice.totalfactura | currency : moneyLocale.money : "symbol" : "" : moneyLocale.locale }}</td>
            <td>{{ invoice.userid }}</td>
            <td>{{ invoice.estacionId }}</td>
            <td class="flex justify-content-center align-items-center">
              <button type="button" pButton pRipple icon="pi pi-list" class="p-button-sm p-button-info mr-1" (click)="selectInvoice(invoice)" pTooltip="Detalle" tooltipPosition="bottom"></button>
              <button
                [class.hidden]="(invoiceService.hideButtonCreditN$ | async)!"
                icon="pi pi-file"
                [disabled]="!(invoice.data_CreditNote ? invoice.data_CreditNote.length > 0 : false)"
                type="button"
                pButton
                pRipple
                class="p-button-sm p-button-secondary"
                (click)="invoiceService.invoiceCreditNoteSelect(invoice)"
                pTooltip="Nota de crédito"
                tooltipPosition="bottom"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="15" class="font-normal py-4">No existen datos que mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="visible" [modal]="true" [draggable]="true" [resizable]="false" [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '60vw' }">
  <ng-template pTemplate="header">
    <i class="pi pi-list" style="font-size: 2rem; color: var(--surface-900)"></i>
    <h4 class="m-0">Detalle factura</h4>
  </ng-template>
  <ng-template pTemplate="content">
    <app-invoice-details></app-invoice-details>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="visibleCredtiNote" [modal]="true" [draggable]="true" [resizable]="false" [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '90vw' }">
  <ng-template pTemplate="header">
    <i class="pi pi-file" style="font-size: 2rem; color: var(--surface-900)"></i>
    <h4 class="m-0">Nota de crédito</h4>
  </ng-template>
  <ng-template pTemplate="content">
    <app-credit-note></app-credit-note>
  </ng-template>
</p-dialog>
