.field-null {
  color: #ff6464;
  font-style: italic;
}
.enable-badge {
  background: #c8e6c9;
  color: #256029;
  padding: 4px;
  border-radius: 4px;
}
.disable-badge {
  background: #ff6464;
  color: #ffffff;
  padding: 4px;
  border-radius: 4px;
}
.input-hidden {
  display: none;
}
